node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
# TODO: remove this when we have reduced the number of svgs needed
assets/svg

# macOS
.DS_Store

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*
